
 <!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title> Web shop - admin </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<br><br>

<body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to "Proizvodi", allProducts_path %></li>
            <li><%= link_to "Korisnici", allUsers_path %></li>
            <li><%= link_to "Kategorije", new_category_path %></li>
            <li><%= link_to "Narudžbe", orders_path %></li>    
        </ul>
    </div>
    </nav>
    <!--/.navbar-->
  </body>
</html> 