<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <% unless flash[:same_user].blank? %>
          <%= flash[:same_user] %>
      <% end %>
      <br>
      <br>  

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', id: "emailId" %>
      <br>

      <%= f.label :role_id, "Role" %>
      <%= f.select("role_id", @roles.collect {|r| [r.name, r.id] }, { :selected => params[:get_role_id] }, class: 'form-control', id: 'edit_user_role')%><br><br>

      <%= f.submit "IZMJENI", class: "btn btn-primary", id: 'edit_user_button' %>
    <% end %>
    <br><br>

    <%= link_to 'Svi korisnici', allUsers_path %>

  </div>
</div>