<p id="notice"><%= notice %></p>
<br>
<h2 style="text-align: left;">Svi korisnici</h2>

<table>
  <thead>
    <tr>
      <th class="admin_first_column">ID</th>
      <th class="admin_first_column">Email</th>
      <th class="admin_first_column">Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="admin_table_tr ">
        <td class="allProducts_table"><%= user.id %></td>
        <td class="allProducts_table"><%= user.email %></td>
        <td class="allProducts_table"><%= user.role.name %></td>
        
        <td class="allProducts_table">
          <%= link_to 'Izmjena', edit_user_path(user) %><br>
          <%= link_to 'Brisanje', user, method: :delete, data: { confirm: 'Da li ste sigurni?' } %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novi korisnik', new_user_path %>