<% provide(:title, 'Sign up') %>
<br><br>
<h2><%= t('register') %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <% unless flash[:same_user].blank? %>
          <%= flash[:same_user] %>
      <% end %>
      <br>
      <br>  

      <%= f.label t('email') %>
      <%= f.email_field :email, class: 'form-control', id: "emailId" %>

      <br>
      <%= f.label t('password') %>
      <%= f.password_field :password, class: 'form-control', id: 'new_user_password' %>
      <br>

      <%= f.label t('confirmation')%>
      <%= f.password_field :password_confirmation, class: 'form-control', id: 'new_user_password_confirmation'%>
      <br>

      <%= f.submit t('register_button'), class: "btn btn-primary", id: 'new_user_button' %>
    <% end %>

    <script type="text/javascript">

    /*$(document).ready(function () {
      $("#new_user").validate({
        debug: true,
        rules: {
        "user[email]": {required: true, email: true},
        "user[password]": {required: true, minlength: 6},
        "user[password_confirmation]": {required: true, equalTo: "#user_password"}
        }
      });
    });*/


      /*function red_fiels(var e) {
        if (e != "") {
            red_gone();
        }
        else {
          document.getElementById("emailId").className = document.getElementById("emailId").className + " error";
        }
      }

      function red_gone() {
        document.getElementById("fName").className = document.getElementById("emailId").className.replace(" error", ""); 
      }*/

      $(window).bind('page:change', function(){
        $("#emailId").change(function() {


        //$("#emailId").focusout(function(){
        //alert("OVdje");
        $.ajax({
          url: '/users/is_user_valid',
          data: { 
            input_email: el.val(), 
          },
          type: 'GET',
          success: function(result) {
            alert(result);
          }
        });

        if ($(this).val() == "")
          $('#emailId').addClass('error');

      });
      });

    </script>

  </div>
</div>

