<p id="notice"><%= notice %></p>
<br>
<h2>Listing Orders</h2>

<table>
  <thead>
    <tr>
      <th>Id narudžbe</th>
      <th>Korisnik</th>
      <th>Adresa za račun</th>
      <th>Adresa za dostavu</th>
      <th>Cijena</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <% billing = Address.find_by(id: order.billing_address_id) %>
        <% shipping = Address.find_by(id: order.shipping_address_id) %>
        <td><%= billing.address_name %></td>
        <td><%= shipping.address_name %></td>
        <td><%= order.total %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>