<br><br>
<h2 style="text-align: left;">  <%= t('your_order_bill') %> </h2>

<table border="1">
  <tbody>

  	<tr> 
      <td colspan='4' class="allProducts_table" style="text-align: left; padding-top: 15px; padding-bottom: 30px;"> 
        <% billing = Address.find_by(id: @order.billing_address_id) %>
        <% shipping = Address.find_by(id: @order.shipping_address_id) %>
        <% if @order.email != 'guest' %>
        <%= t('order_user') %>: <span id="order_user"><%= @order.user.email %><br></span>
        <% end %>
        <%= t('delivery_address') %>: <span id="order_address"><%= shipping.address_name %></span>, <span id="order_city"><%= shipping.city %></span>, <span id="order_region"><%= shipping.region %></span>, <span id="order_state"><%= shipping.state%></span>
        <br>
        <%= t('billing_address') %>: <span id="order_address_b"><%= billing.address_name %></span>, <span id="order_city_b"><%= billing.city %></span>, <span id="order_region_b"><%= billing.region %>, <span id="order_state_b"><%= billing.state%></span>
      </td>
    </tr>

    <tr> <td colspan='4' class="allProducts_table" style="padding: 15px 0px 15px 0px;"> <b><%= t('order_bill') %><br> </td> </tr>

    <tr>
      <td class="allProducts_table"> <%= t('order_product') %> </td>
      <td class="allProducts_table"> <%= t('order_quantity') %> </td>
      <td class="allProducts_table"> <%= t('order_price') %> </td>
      <td class="allProducts_table"> <%= t('order_total_price') %> </td>
    </tr>
    
    <% @order_items.each do |item| %> 
    <tr>
      <td class="allProducts_table">
        <span id="<%= item.id %>_order_name"><%= item.help_product.product.name %></span> (<span id="<%= item.id %>_order_size"><%= item.help_product.size %></span>)
      </td>
      <td class="allProducts_table">
        <span id="<%= item.id %>_order_quantity"><%= item.quantity %></span>
      </td>
      <td class="allProducts_table"> 
        <span id="<%= item.id %>_order_price"><%= item.price %> KM</span>
      </td>
      <td class="allProducts_table">
        <span id="<%= item.id %>_order_total"><%= item.price.to_f * item.quantity %> KM</span>
      </td>
    </tr>
    <% end %>

    <tr></tr>
    <tr> 
      <td colspan='4' class="allProducts_table" style="text-align:right; padding: 15px 6px 15px 0px;"> 
        <%= t('order_price').capitalize %>: <span id="order_total"> <%= @total %> KM <br></span>
        <%= t('order_delivery_price') %>: <span id="order_delivery"><%= @delivery %> KM <br><br></span>
        Total: <b style="font-size: 16px;"> <span id="order_total_delivery"><%= @total+@delivery %> KM </b></span>
      </td> 
    </tr>
    
    

</table>
<br><br>

<%= button_to "HOME", home_path, class: "btn btn-primary", method: :get %>