<br><br>
<h2 style="text-align: left;"> Vaša narudžba </h2>

<table border="1">
  <tbody>

  	<tr> 
  		<td class="allProducts_table">
  			<% billing = Address.find_by(id: @order.billing_address_id) %>
        	<% shipping = Address.find_by(id: @order.shipping_address_id) %>
  			Korisnik: <%= @order.user.email %><br>
  			Adresa dostave: <%= billing.address_name %><br>
  			Adresa za račun: <%= shipping.address_name %><br>
  		</td>
  	<tr>
  	<tr>
  		<td class="allProducts_table"> 
  			<b> Naručili ste: </b><br>
  			<% @order_items.each do |item| %>
  				<%= item.help_product.product.name %> - broj <%= item.help_product.size %> (<%= item.quantity %> komada) <br>
  			<% end %>
  		</td>
  	</tr>
</table>
<br><br>

<%= button_to "HOME", home_path, class: "btn btn-primary", method: :get %>