
<% delivery = 5 %>
<% sum = 0 %>
	<% @list.each do |x| %>
		<% p = Product.find(x) %>
		<% sum += p.price.to_i %>
	<% end %>



<table border = "1" class="table_total">
	<tr>
		<td style="padding:20px; margin:10px;">
			<p style="text-align: left;"> <b>Narudžba</b> <%= @list.length %> proizvoda 
			<% 17.times do %>
				&nbsp;
			<% end %>
			<br></p>
			<p style="text-align: right;"> Cijena <br> <b><%= sum %>KM </b><br><br>
			Dostava <br> <b><%= @list.length*delivery %>KM </b><br>
			<hr>
			<p style="text-align: right;">
			Ukupno <b><%= sum+@list.length*delivery %></b></p>
		</td>
	</tr>
</table>


<table class="table_cart">
	<tr> 
		<td style="padding:30px; margin:2px;"> Vaša korpa </td>
	</tr>

	<% @list.each do |x| %>
	<% p = Product.find(x) %>
	<tr style="padding:0px; margin:2px;"> 
		<td  style="padding:0px; margin:2px;"> <%= image_tag(p.image, size: "150x150") %> </td>
		<td  style="padding:30px; margin:2px;"> Model: <%= p.name %> <br>
			 Veličina: <br>
			 Boja: Crvena <br>
			 ID: 215fd <br>
			 <br><br>
		</td>
		<td style="text-align: right; padding:20px; margin:2px;"> Cijena: <br>
			 <b><%= p.price %>KM</b>
			 <br>
			 <br>
			 Količina: <input type="text" value="1">
			 <br><br><br>
		</td>
	</tr>
	<% end %>


	<br>
</table>



