
<% delivery = 5 %>
<% sum = 0 %>
<% @list = [] %>

<br><br>

<% @all.each do |x| %>
	<% hp = HelpProduct.find(x.help_product) %>
	<% @list << hp.product_id %>
<% end %> 

<% @all.each do |x| %>
	<% pr = x.product_id %>
	<% p = Product.find_by(id: pr) %>
	<% price = p.price.to_i %>
	<% qu = x.quantity %>
	<% sum += (price*qu) %>
<% end %>

<!-- price*qu -->

<table border = "1" class="table_total">
	<tr>
		<td style="padding:20px; margin:10px;">
			<p style="text-align: left;"> <b>Narudžba</b> <%= @list.length %> proizvoda 
			<% 17.times do %>
				&nbsp;
			<% end %>
			<br></p>
			<p style="text-align: right;"> Cijena <br> <b><%= sum %>KM </b><br><br>
			Dostava <br> <b><%= @list.length*delivery %>KM </b><br>
			<hr>
			<p style="text-align: right;">
			Ukupno <b><%= sum+@list.length*delivery %></b></p>
		</td>
	</tr>
</table>
<table class="table_total2"> 
    <tr><td style="padding:2px; margin:1px;"><%= button_to "ODUSTANI", home_path, :class => "btn btn-default", :method => :get  %></td>
    <td style="padding:2px; margin:1px;"><%= button_to "NASTAVI", addresses_new_path, :class => "btn btn-primary", :method => :get  %></td></tr>
</table>

<!-- <button name="button" type="submit", class="btn btn-primary">NASTAVI</button> -->


<table class="table_cart">
	<tr> 
		<td style="padding:30px; margin:2px;"> Vaša korpa </td>
	</tr>

	<% @all.each do |y| %>
	<% p = y.help_product.product %>

	<tr style="padding:0px; margin:2px;"> 
		<td  style="padding:0px; margin:2px;"> <%= image_tag(p.image, size: "150x150") %> </td>
		<td  style="padding:30px; margin:2px;"> Model: <%= p.name %> <br>
			 Veličina: <%= y.size %> <br>
			 Boja: Crvena <br>
			 ID: 215fd <br>
			 <br><br>
		</td>
		<td style="text-align: right; padding:20px; margin:2px;"> Cijena: <br>
			 <b><%= p.price %>KM</b>
			 <br>
			 <br>
			 Količina: <input type="text" value= "<%=y.quantity %>" class="quantity_field" onchange="QuantityFunction()" id="quan">
			 <br><br><br>
		</td>
	</tr>
	<% end %>
	<br>
</table>

<script>
    function QuantityFunction() {

       	if (document.getElementById("quan").value == 0) {
       		confirm ("Are you sure you want to delete this item");
       		$.ajax({
			  url: /items/delete/,
			  type: 'DELETE',
			  success: function(result) {
			    // Do something with the result
			  }
			});
       	}
    }
</script>



