<html>
<body>

<% @list = [] %>
<br><br><br>

<div class="row">
	
	<div class="col-md-8">
		<span class="cart_status">
		</span>
		<span class="cart_status2"></span>
		<span class="cart_status3"></span>


		<table class="table_cart">
			<tr> 
				<td style="padding:30px; margin:2px;"> <%= t('your_cart')%></td>
			</tr>

			<% counter = 0 %>
 
			<% @all.each do |y| %>	
			<% p = y.help_product.product %>
			<% @main_image = Image.find_by(product_id: p.id, main: '1') %>	
			<% counter += 1 %>
			<tr style="padding:0px; margin:2px;"> 
				<td style="padding:0px; margin:2px;"> 
					<% if @main_image.nil? %>
						<%= image_tag(p.image.url(:small)) %> 
					<% else %>
						<%= image_tag(@main_image.avatar.url(:small)) %> 
					<% end %>
				</td>
				<td style="padding:30px; margin:2px; color:gray;"> <%= t('item_model') %>: <%= p.name %> <br>
					 <%= t('item_size') %>: <%= y.help_product.size %> <br>
					 <%= t('item_color') %>: Crvena <br>
					 ID: 215fd <br>
					 <br><br>
				</td>
				<td style="text-align: right; padding:20px; margin:2px; color:gray"> <%= t('item_price') %>: <br>
					 <b style="color:black; id=<%=y.id%>+_item_price"><%= y.price %>KM</b>
					 <br>
					 <br>
					 <span style="font-size: 12px;"> <%= t('item_quantity') %>: </span><input id="<%= y.help_product_id %>" data-id="<%= y.id %>" type="text" value= "<%=y.quantity %>" class="quantity_field">
					 <br><br><br>
				</td>
			</tr>
			<% end %>
			<br>
		</table>

	</div>

	<div class="col-md-4">

		<table class="status_table">
			<tr class="status_tr">
				<td class="status_1"><%= t('cart_label').upcase %>
				<td class="status_2"><%= t('delivery_label').upcase %>
				<td class="status_3"><%= t('payment_label').upcase %>
			</tr>
		</table>


		<table border = "1" class="table_total">
			<tr>
				<td style="padding:20px; margin:10px;">
					<p style="text-align: left;"> <b> <%= t('order_label') %> </b> 
						<span class="cart_total_number"><%= @cart.get_total_number %></span> <%= t('product_counter_label') %> 
					<% 13.times do %>
						&nbsp;
					<% end %>
					<br></p>
					<p style="text-align: right;"> <%= t('price') %> <br> 
						<b><span class="cart_price"><%= @cart.get_total_price %></span>KM </b><br><br>
						<%= t('delivery') %> <br> 
						<b><span class="cart_delivery"><%= @cart.get_delivery_price %>KM </span></b><br>
						<hr>
					<p style="text-align: right;">
					<%= t('total') %> <b><span class="cart_total"><%= @cart.get_total_with_delivery %>KM</span></b></p>
				</td>
			</tr>
		</table>

		<table class="table_total2"> 
		    <tr><td style="padding-right:18px; padding-left:0px; margin:1px; padding-top:0px;"><%= button_to t('back_button'), home_path, :class => "btn btn-default", :id => "cart_odustani", :method => :get  %></td>
		    <td style="padding-left:0px; padding-right:0px; padding-top:0px; margin-right:1px;"><%= button_to t('continue_button'), @path_to_address, :class => "btn btn-primary", :id => "cart_nastavi", :method => :get  %></td></tr>
		</table>
	</div>
</div>



<script type="text/javascript">
	
	$(window).bind('page:change', function(){
		$.ajax({
			    url: '/carts/check_available',
			    type: 'GET',
			    success: function(result) {
			    	if (result.products) {

			    		var products = result.products;
						var names = result.product_names;
						var quantities = result.quantities;
						var items = result.items;

						status = "";
						for (i=0; i<products.length; i++) {
							if (quantities[i] == 0) {
								status += "Poizvod <b>"+names[i]+"</b> više nije dostupan.<br>";
								$(".cart_status").html(status);
								var id_for_item = products[i];
								$("#"+id_for_item).val(quantities[i]);
								
								$.ajax({
								    url: '/carts/delete_item',
								    data: { 
								    	item_id: items[i], 
								    },
								    type: 'DELETE',
								    success: function(result) {
								    	if (result.error) {
								    		$("#"+id_for_item).hide();
								    		//alert("<%= @nuber_of_items %>");
								    		if ("<%= @nuber_of_items %>" == 0)
								    			$('.table_total').hide();
								    		$(document).trigger('page:change');
								    		$.ajax({
											    url: '/carts/update_price',
											    type: 'GET',
											    success: function(result) {
											    	if (result.number) {
											    		$(".cart_total_number").html(result.number);
											    		$(".cart_price").html(result.price);
											    		$(".cart_delivery").html(result.delivery);
											    		$(".cart_total").html(result.total);
											    	}
											    }

											});
								    	}
							    	}
								});

								/*$.ajax({
								    url: '/carts/update_price',
								    type: 'GET',
								    success: function(result) {
								    	if (result.number) {
								    		$(".cart_total_number").html(result.number);
								    		$(".cart_price").html(result.price);
								    		$(".cart_delivery").html(result.delivery);
								    		$(".cart_total").html(result.total);
								    	}
								    }

								});*/
							}
							else {
								status += "Poizvod <b>"+names[i]+"</b> ima ograničenu količinu. Možete naručiti najviše <b>"+quantities[i]+"</b> proizvoda.<br>";
								$(".cart_status").html(status);
								var id_for_item = products[i];
								$("#"+id_for_item).val(quantities[i]);

								$.ajax({
								    url: '/carts/update_item',
								    data: { 
								    	item_id: items[i], 
								    	quantity: quantities[i], 
								    },
								    type: 'PUT',
								    success: function(result) {
								    	if (result.error) {
								    		//alert("Podaci su izmjenjeni");
								    		$.ajax({
											    url: '/carts/update_price',
											    type: 'GET',
											    success: function(result) {
											    	if (result.number) {
											    		$(".cart_total_number").html(result.number);
											    		$(".cart_price").html(result.price);
											    		$(".cart_delivery").html(result.delivery);
											    		$(".cart_total").html(result.total);
											    	}
											    }

											});
								    	}
								    }

								});

								/*$.ajax({
								    url: '/carts/update_price',
								    type: 'GET',
								    success: function(result) {
								    	if (result.number) {
								    		$(".cart_total_number").html(result.number);
								    		$(".cart_price").html(result.price);
								    		$(".cart_delivery").html(result.delivery);
								    		$(".cart_total").html(result.total);
								    	}
								    }

								});*/

							}
						}
				    }
						
			    }
		});
});
	$(window).bind('page:change myChange', function(){


		var old_element = $(".quantity_field").val();
		$(".quantity_field").change(function() {
			
		var el = $(this); 	
		if (el.val() == 0) {
			confirm("Are you sure you want to delete this item?");
			$.ajax({
			    url: '/carts/delete_item',
			    data: { 
			    	item_id: el.data("id"), 
			    },
			    type: 'DELETE',
			    success: function(result) {
			    	if (result.error) {
			    		el.parents("tr").hide();
			    		
			    		if(result.itemsNumber == 0) {
							//$('.table_total').hide();
							$(".cart_total_number").html("0");
							$(".cart_price").html("0.00");
							$(".cart_delivery").html("0.00KM");
							$(".cart_total").html("0.00KM");
							$('.table_total2').hide();
						}
			    		$.ajax({
							url: '/carts/update_price',
							type: 'GET',
							success: function(result) {
							if (result.number) {
								$(".cart_total_number").html(result.number);
								$(".cart_price").html(result.price);
								$(".cart_delivery").html(result.delivery);
								$(".cart_total").html(result.total);

							}
							
						}
						});
						$(document).trigger('page:change');
			    		/*$.ajax({
						    url: '/carts/update_price',
						    type: 'GET',
						    success: function(result) {
						    	if (result.number) {
						    		$(".cart_total_number").html(result.number);
						    		$(".cart_price").html(result.price);
						    		$(".cart_delivery").html(result.delivery);
						    		$(".cart_total").html(result.total);
						    	}
						    }

						});*/
			    	}
			    	/*console.log(el)
			    	alert (el.parents("tr").length)
			   		el.parents("tr").show();*/
			    }

			});
		}

		else if (el.val() < 0) {
			confirm("Number must be positive.");
			$(".quantity_field").val(old_element);
		}

		else if (Math.floor(el.val()) != el.val()) {
			confirm("Number must be integer.");
			$(".quantity_field").val(old_element);
		}
 
		else {

			$.ajax({
			    url: '/carts/update_item',
			    data: { 
			    	item_id: el.data("id"), 
			    	quantity: el.val(), 
			    },
			    type: 'PUT',
			    success: function(result) {
			    	if (result.error) {
			    		//alert("Podaci su izmjenjeni");
			    		//$("window").trigger('page:change');
			    		$(document).trigger('page:change');
			    	}
			    }

			});
		}
		});
		

	});

	$(window).bind('page:change', function(){

		if ("<%= @nuber_of_items %>" == 0)
			$('.table_total2').hide();


		$(".quantity_field").change(function() {
			$.ajax({
			    url: '/carts/update_price',
			    type: 'GET',
			    success: function(result) {
			    	if (result.number) {
			    		$(".cart_total_number").html(result.number);
			    		$(".cart_price").html(result.price);
			    		$(".cart_delivery").html(result.delivery);
			    		$(".cart_total").html(result.total);
			    	}
			    }

			});

		});
	});
</script>

</body>
</html>





