<html>
<body>

<% @list = [] %>
<br><br><br>

<div class="row">
	
	<div class="col-md-8">
		<table class="table_cart">
			<tr> 
				<td style="padding:30px; margin:2px;"> Vaša korpa </td>
			</tr>

			<% counter = 0 %>

			<% @all.each do |y| %>
			<% p = y.help_product.product %>
			<% counter += 1 %>
			<tr style="padding:0px; margin:2px;"> 
				<td style="padding:0px; margin:2px;"> <%= image_tag(p.image, size: "150x150") %> </td>
				<td style="padding:30px; margin:2px;"> Model: <%= p.name %> <br>
					 Veličina: <%= y.help_product.size %> <br>
					 Boja: Crvena <br>
					 ID: 215fd <br>
					 <br><br>
				</td>
				<td style="text-align: right; padding:20px; margin:2px;"> Cijena: <br>
					 <b><%= p.price %>KM</b>
					 <br>
					 <br>
					 Količina: <input data-id="<%= y.id %>" type="text" value= "<%=y.quantity %>" class="quantity_field">
					 <br><br><br>
				</td>
			</tr>
			<% end %>
			<br>
		</table>

	</div>

	<div class="col-md-4">

		<table class="status_table">
			<tr class="status_tr">
				<td class="status_1">KORPA
				<td class="status_2">DOSTAVA
				<td class="status_3">PLAĆANJE
			</tr>
		</table>


		<table border = "1" class="table_total">
			<tr>
				<td style="padding:20px; margin:10px;">
					<p style="text-align: left;"> <b>Narudžba </b> 
						<span class="cart_total_number"><%= @cart.get_total_number %></span> proizvoda 
					<% 13.times do %>
						&nbsp;
					<% end %>
					<br></p>
					<p style="text-align: right;"> Cijena <br> 
						<b><span class="cart_price"><%= @cart.get_total_price %></span>KM </b><br><br>
						Dostava <br> 
						<b><span class="cart_delivery"><%= @cart.get_delivery_price %>KM </span></b><br>
						<hr>
					<p style="text-align: right;">
					Ukupno <b><span class="cart_total"><%= @cart.get_total_with_delivery %>KM</span></b></p>
				</td>
			</tr>
		</table>

		<table class="table_total2"> 
		    <tr><td style="padding-right:18px; padding-left:0px; margin:1px; padding-top:0px;"><%= button_to "ODUSTANI", home_path, :class => "btn btn-default", :method => :get  %></td>
		    <td style="padding-left:0px; padding-right:0px; padding-top:0px; margin-right:1px;"><%= button_to "NASTAVI", @path_to_address, :class => "btn btn-primary", :method => :get  %></td></tr>
		</table>
	</div>
</div>



<script type="text/javascript">
	
	$(window).bind('page:change', function(){
		$(".quantity_field").change(function() {
			
		var el = $(this);
		if (el.val() == 0) {
			confirm("Are you sure you want to delete this item?");
			$.ajax({
			    url: '/carts/delete_item',
			    data: { 
			    	item_id: el.data("id"), 
			    },
			    type: 'DELETE',
			    success: function(result) {
			    	if (result.error) {
			    		el.parents("tr").hide();
			    	}
			    	/*console.log(el)
			    	alert (el.parents("tr").length)
			   		el.parents("tr").show();*/
			    }

			});
		}

		else {

			$.ajax({
			    url: '/carts/update_item',
			    data: { 
			    	item_id: el.data("id"), 
			    	quantity: el.val(), 
			    },
			    type: 'PUT',
			    success: function(result) {
			    	if (result.error) {
			    		alert("Podaci su izmjenjeni");
			    	}
			    }

			});
		}
		});
		

	});

	$(window).bind('page:change', function(){
		$(".quantity_field").change(function() {
			$.ajax({
			    url: '/carts/update_price',
			    type: 'GET',
			    success: function(result) {
			    	if (result.number) {
			    		$(".cart_total_number").html(result.number);
			    		$(".cart_price").html(result.price);
			    		$(".cart_delivery").html(result.delivery);
			    		$(".cart_total").html(result.total);
			    	}
			    }

			});

		});
	});
</script>

</body>
</html>





