

<div class = "row">
  <div class="col-md-6">
    
    <br><br><br><br><br>

    <table border="1" class="final_address">
      <tr>
        <td class="final_address_ticket"> 
          <h2 style="text-align: left;"><%= t('delivery_address') %></h2><br>
          <%= @shipping_address.name %><br>
          <%= @shipping_address.address_name %><br>
          <%= @shipping_address.city %>, <%= @shipping_address.region %>  <%= @shipping_address.zip %>
          <%= @shipping_address.state %><br>
          <%= @shipping_address.phone %><br><br>
        </td>

        <td class="final_address_ticket"> 
          <h2 style="text-align: left;"><%= t('billing_address') %></h2><br>
          <%= @billing_address.name %><br>
          <%= @billing_address.address_name %><br>
          <%= @billing_address.city %>, <%= @billing_address.region %>  <%= @billing_address.zip %>
          <%= @billing_address.state %><br>
          <%= @billing_address.phone %><br><br>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="final_address_button_change">
          <%= button_to t('change_final_addresses'), @path_to_address, :class => "btn btn-default final_address_change", :method => :get %>
        </td>
      </tr>
    
  </div>

  <div class="col-md-6">

    <table class="status_table">
      <tr class="status_tr">
        <td class="status_11"><%= t('cart_label').upcase %>
        <td class="status_21"><%= t('delivery_label').upcase %>
        <td class="status_31"><%= t('payment_label').upcase %>
      </tr>
    </table>

    <table border = "1" class="table_total">
      <tr>
        <td style="padding:20px; margin:10px;">
          <p style="text-align: left;"> <b> <%= t('order_label') %> </b> 
            <span class="cart_total_number"><%= @cart.get_total_number %></span> <%= t('product_counter_label') %> 
          <% 13.times do %>
            &nbsp;
          <% end %>
          <br></p>
          <p style="text-align: right;"> <%= t('price') %> <br> 
            <b><span class="cart_price"><%= @cart.get_total_price %></span>KM </b><br><br>
            <%= t('delivery') %> <br> 
            <b><span class="cart_delivery"><%= @cart.get_delivery_price %>KM </span></b><br>
            <hr>
          <p style="text-align: right;">
          <%= t('total') %> <b><span class="cart_total"><%= @cart.get_total_with_delivery %>KM</span></b></p>
        </td>
      </tr>
    </table>

      <table class="table_total2"> 
        <tr>
          <td style="padding-right:18px; padding-left:0px; margin:1px; padding-top:0px;"><%= button_to t('back_button'), home_path, :class => "btn btn-default odustani_new_address", :id => "odustani_show_address", :method => :get  %></td>
          <td style="padding-right:0px; padding-left:0px; margin:1px; padding-top:0px;">
            <form action="/charges" method="post">
              <input type="hidden" class="sh" name="sh" value="<%= @shipping_address_id %>">
              <input type="hidden" class="bil" name="bil" value="<%= @billing_address_id %>">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                  
                <div class="stripe_script">
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="abhShoes payment"
                            data-amount="<%= (@cart.get_total_with_delivery.to_i)*100 %>">
                            
                  </script>
                </div>
                <input type="submit" id="payment_button" class="btn btn-primary" value="<%= t('continue_button')%>">
              
              </form>
            </td>
        </tr>

        


      </table>

  </div>
</div>
<br><br>

</form>


<script type="text/javascript">

    $('.stripe_script').hide();

    $('.proceed_to_payment').on('click', function() {
      $('.form_hidden').submit();
    });

    /*$( document ).ready(function() {
      $('.sh').val("azra");
      $('.bil').val($(".first_address_billing").data("id"));
    });*/

      $( ".first_address" ).click(function() {
        $( ".first_address" ).css("border", "1px solid #FFC63B");
        $( ".address" ).css("border", "none");
        $('.sh').val($(".first_address").data("id"));
      });

      $( ".address" ).click(function() {
                
        $( ".address" ).css("border", "none");
        $( ".first_address" ).css("border", "none");
        $(this).css("border", "1px solid #FFC63B");
        $('.sh').val($(this).data("id"));

      });

      $( ".first_address_billing" ).click(function() {
        $( ".first_address_billing" ).css("border", "1px solid #FFC63B");
        $( ".address_b" ).css("border", "none");
        $('.bil').val($(".first_address_billing").data("id"));
      });

      $( ".address_b" ).click(function() {
        
        $( ".address_b" ).css("border", "none");
        $( ".first_address_billing" ).css("border", "none");
        $(this).css("border", "1px solid #FFC63B");
        $('.bil').val($(this).data("id"));
      
      });

    document.getElementsByClassName("address_billing")[0].style.visibility = "hidden";
    function myFunction() {
      checked = document.getElementById("billing_checkbox").checked;
      if (checked == true) {
        document.getElementsByClassName("address_billing")[0].style.visibility = "hidden";
        $('.bil').val($(".first_address_billing").data("id"));
      }
      else
        document.getElementsByClassName("address_billing")[0].style.visibility = "visible";
    }

    $('.proceed_to_payment').click(function() {
      var address1 = $('.sh').val();
      var address2 = $('.bil').val();
      //alert(address1);
      //alert(address2);
      $.post({
            //url: '/charges/new',
            url: '/payment',
            data: { 
              sh_address: address1,
              bil_address: address2,
            },
            success: function(result) {
              //$('#payment_button').click();
              alert(result.error);
              if (result.error) {
              }
            }
        });
    });


    $('.odustani_new_address').click(function(){
    //alert("klik na osustani");
      
      $.ajax({
          url: '/items/delete_temp_items',
          data: {
          },
          type: 'DELETE',
          success: function(result) {
            if (result.error) {
            }
          }

      });


  });

    $('.nav_link').click(function(){
          $.ajax({
            url: '/items/delete_temp_items',
            data: {
            },
            type: 'DELETE',
            success: function(result) {
              if (result.error) {
              }
            }
          });
      });

</script>