<br><br>

<div class="row">
  <div class="col-md-6">

    <span class="address_status"></span><br>
    <h2 style="text-align: left;"><%= t('delivery_address') %></h2>

    <form>
      <p> <%= t('address_name') %> </p>
      <input type="text" class="form-control name" id="new_address_name_s"><br>
      <p> <%= t('address_street') %> </p>
      <input type="text" class="form-control address_name" id="new_address_street_s"><br>
      <p> <%= t('address_city') %> </p>
      <input type="text" class="form-control city" id="new_address_city_s"><br>
      <p> <%= t('address_region') %> </p>
      <input type="text" class="form-control region" id="new_address_region_s"><br>
      <p> <%= t('address_zip') %> </p>
      <input type="text" class="form-control zip" id="new_address_zip_s"><br>
      <p> <%= t('address_state') %> </p>
      <input type="text" class="form-control state" id="new_address_state_s"><br>
      <p> <%= t('address_phone') %> </p>
      <input type="text" class="form-control phone" id="new_address_phone_s"><br>
    </form>

    <br>
    <span class="address_status2"></span><br>
    <div class="row">
        <div class="col-md-6">
          <h2 style="text-align: left;"><%= t('billing_address') %></h2>
        </div>
        <div class="col-md-6">
          <div class="checkbox">
            <input type="checkbox" id="billing_checkbox" onchange="myFunction()" value="nesto" checked> <%= t('same_addresses') %>
          </div>
        </div>
    </div>
    <br>

    <div class="address_billing"
      <form>
        <p> <%= t('address_name') %> </p>
        <input type="text" class="form-control name_billing" id="new_address_name_b"><br>
        <p> <%= t('address_street') %> </p>
        <input type="text" class="form-control address_name_billing" id="new_address_street_b"><br>
        <p> <%= t('address_city') %> </p>
        <input type="text" class="form-control city_billing" id="new_address_city_b"><br>
        <p> <%= t('address_region') %> </p>
        <input type="text" class="form-control region_billing" id="new_address_region_b"><br>
        <p> <%= t('address_zip') %> </p>
        <input type="text" class="form-control zip_billing" id="new_address_zip_b"><br>
        <p> <%= t('address_state') %> </p>
        <input type="text" class="form-control state_billing" id="new_address_state_b"><br>
        <p> <%= t('address_phone') %> </p>
        <input type="text" class="form-control phone_billing" id="new_address_phone_b"><br>
      </form>
    </div>

    </div>
  </div>

  <div class="col-md-6">

    <table class="status_table">
      <tr class="status_tr">
        <td class="status_11"><%= t('cart_label').upcase %>
        <td class="status_21"><%= t('delivery_label').upcase %>
        <td class="status_31"><%= t('payment_label').upcase %>
      </tr>
    </table>

    <table border = "1" class="table_total">
      <tr>
        <td style="padding:20px; margin:10px;">
          <p style="text-align: left;"> <b> <%= t('order_label') %> </b> 
            <span class="cart_total_number"><%= @cart.get_total_number %></span> <%= t('product_counter_label') %> 
          <% 13.times do %>
            &nbsp;
          <% end %>
          <br></p>
          <p style="text-align: right;"> <%= t('price') %> <br> 
            <b><span class="cart_price"><%= @cart.get_total_price %></span>KM </b><br><br>
            <%= t('delivery') %> <br> 
            <b><span class="cart_delivery"><%= @cart.get_delivery_price %>KM </span></b><br>
            <hr>
          <p style="text-align: right;">
          <%= t('total') %> <b><span class="cart_total"><%= @cart.get_total_with_delivery %>KM</span></b></p>
        </td>
      </tr>
    </table>
 
    <table class="table_total2">
      <tr>

        <form action="/payments/show" method="get" class="form_hidden">
           <td> <input type="hidden" class="sh" name="sh" value="">
           <td> <input type="hidden" class="bil" name="bil" value="">
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
          <td style="padding-right:18px; padding-left:0px; margin:1px; padding-top:0px;"><%= button_to t('back_button'), home_path, :class => "btn btn-default odustani_new_address", :method => :get  %></td>
          <td style="padding-left:0px; padding-right:0px; padding-top:0px; margin-right:1px;">
   

            <input type="submit" class="btn btn-primary button_nastavi" value="<%=t('continue_button')%>">
          </form>




        <!-- <td style="padding-right:18px; padding-left:0px; margin:1px; padding-top:0px;">
          <= button_to t('back_button'), home_path, :class => "btn btn-default odustani_new_address", :id => "odustani_new_address", :method => :get %>
        </td>
        <td style="padding-right:0px; padding-left:0px; margin:1px; padding-top:0px;">
          <= button_to "NASTAVI", '#', :class => "btn btn-primary button_nastavi", :id => "nastavi_new_address", :method => :get %>
        </td>


        <td style="padding-left:0px; padding-right:0px; padding-top:0px; margin-right:1px;">
          <form action="/charges" method="post">

            <= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
              
            <div class="stripe_script">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="A month's subscription"
                        data-amount="<%= (@cart.get_total_with_delivery.to_i)*100 %>">
                        
              </script>
            </div>
            <input type="submit" id="payment_button" class="btn btn-primary" value="<%= t('continue_button')%>">
          
          </form>
        </td> -->

        
      </tr>

    </table>

  </div>

</div>


<script type="text/javascript">
  
  $('.stripe_script').hide();
  //$('#payment_button').hide();

  
  $(".name").focus(function() { $('.address_status').html(" "); });
  $(".address_name").focus(function() { $('.address_status').html(" "); });
  $(".city").focus(function() { $('.address_status').html(" "); });
  $(".region").focus(function() { $('.address_status').html(" "); });
  $(".zip").focus(function() { $('.address_status').html(" "); });
  $(".state").focus(function() { $('.address_status').html(" "); });
  $(".phone").focus(function() { $('.address_status').html(" "); });

  $(".name_billing").focus(function() { $('.address_status2').html(" "); });
  $(".address_name_billing").focus(function() { $('.address_status2').html(" "); });
  $(".city_billing").focus(function() { $('.address_status2').html(" "); });
  $(".region_billing").focus(function() { $('.address_status2').html(" "); });
  $(".zip_billing").focus(function() { $('.address_status2').html(" "); });
  $(".state_billing").focus(function() { $('.address_status2').html(" "); });
  $(".phone_billing").focus(function() { $('.address_status2').html(" "); });

  $('.button_nastavi').click(function(){
    //$('#payment_button').click();
    checked = document.getElementById("billing_checkbox").checked;

    var name = $(".name").val();
    var address = $(".address_name").val();
    var city = $(".city").val();
    var region = $(".region").val();
    var zip = $(".zip").val();
    var state = $(".state").val();
    var phone = $(".phone").val();
    var user_id = "<%= get_user_for_address %>";
    var tag = 'shipping';

    var name_billing = $(".name_billing").val();
    var address_billing = $(".address_name_billing").val();
    var city_billing = $(".city_billing").val();
    var region_billing = $(".region_billing").val();
    var zip_billing = $(".zip_billing").val();
    var state_billing = $(".state_billing").val();
    var phone_billing = $(".phone_billing").val();
    var user_id_billing = "<%= get_user_for_address %>";
    var tag_billing = 'billing';

    if (name == "" || address == "" || city == "" || region == "" || zip == "" || state == "" || phone == "") {
      $('.address_status').html("Popunite sva polja");
      $('.button_nastavi').off();
    }
    else {
      $.ajax({
            url: '/addresses/add_address',
            data: { 
              name: name,
              address_name: address,
              city: city,
              region: region,
              zip: zip,
              state: state,
              phone: phone,
              user_id: user_id,
              tag: tag,
            },
            type: 'POST',
            success: function(result) {
              $(".sh").val(result.address_id);
              //alert(result.address_id);
              if (result.error) {
              }
            }
        });

      if (checked == true) {
        $.ajax({
            url: '/addresses/add_address',
            data: { 
              name: name,
              address_name: address,
              city: city,
              region: region,
              zip: zip,
              state: state,
              phone: phone,
              user_id: user_id,
              tag: tag_billing,
            },
            type: 'POST',
            success: function(result) {
              $(".bil").val(result.address_id);
              var bil = $(".bil").val();
              var ship = $(".sh").val();
              setTimeout(
                function() 
                {
                  $('.form_hidden').submit();
                }, 1500);
              //$('#payment_button').click();
              if (result.error) {
                
              }
            }
        });
      }
      else {

        if (name_billing == "" || address_billing == "" || city_billing == "" || region_billing == "" || zip_billing == "" || state_billing == "" || phone_billing == "") {
          $('.address_status2').html("Popunite sva polja");
        }
        else {
          $.ajax({
              url: '/addresses/add_address',
              data: { 
                name: name_billing,
                address_name: address_billing,
                city: city_billing,
                region: region_billing,
                zip: zip_billing,
                state: state_billing,
                phone: phone_billing,
                user_id: user_id_billing,
                tag: tag_billing,
              },
              type: 'POST',
              success: function(result) {
                $(".bil").val(result.address_id);
                var bil = $(".bil").val();
                var ship = $(".sh").val();
                setTimeout(
                  function() 
                  {
                    $('.form_hidden').submit();
                  }, 1500);
                if (result.error) {
                }
              }
          });

        }
      }

    }
    $.ajax({
      url: '/addresses/send_to_payment',
      type: 'GET',
      success: function(result) {
      }
    });

  });


  $('.odustani_new_address').click(function(){
    //alert("klik na osustani");
      

      $.ajax({
          url: '/items/delete_temp_items',
          data: {
          },
          type: 'DELETE',
          success: function(result) {
            if (result.error) {
            }
          }

      });


  });

  $('.nav_link').click(function(){
      $.ajax({
          url: '/items/delete_temp_items',
          data: {
          },
          type: 'DELETE',
          success: function(result) {
            if (result.error) {
            }
          }

      });


  });

  document.getElementsByClassName("address_billing")[0].style.visibility = "hidden";
    function myFunction() {
      checked = document.getElementById("billing_checkbox").checked;
      if (checked == true)
        document.getElementsByClassName("address_billing")[0].style.visibility = "hidden";
      else
        document.getElementsByClassName("address_billing")[0].style.visibility = "visible";
    }

</script>




<script type="text/javascript">

    $(window).bind('page:load', function(){
      $.ajax({
          url: '/addresses/single_item_price',
          type: 'GET',
          success: function(result) {
            if (result.number) {
              $(".cart_total_number").html(result.number);
              $(".cart_price").html(result.price);
              $(".cart_delivery").html(result.delivery);
              $(".cart_total").html(result.total);
            }
          }

      });

    });   
</script>




