<br><br>
<h2 style="text-align: left;">Adresa za dostavu</h2>

<div class="row">

  <%= form_for(@address1) do |f| %>
  <div class="col-md-6">
    
      <% unless flash[:address_error].blank? %>
          <%= flash[:address_error] %>
      <% end %><br>
      
      <%= f.label :Ime_i_Prezime %>
      <%= f.text_field :name, class: "form-control" %>
      <br>
      <%= f.label :Adresa %>
      <%= f.text_field :address_name, class: 'form-control' %>
      <br>
      <%= f.label :Grad %>
      <%= f.text_field :city, class: 'form-control' %>
      <br>

      <%= f.label :Regija %>
      <%= f.text_field :region, class: 'form-control' %>
      <br>

      <%= f.label :ZIP %>
      <%= f.text_field :zip, class: 'form-control' %>
      <br>

      <%= f.label :Dr탑ava %><br>
      <%= f.select :state, class: 'form-control' %>
      <br>
      <br>

      <%= f.label :Broj_telefona %>
      <%= f.text_field :phone, class: 'form-control' %>
      <br>
  
      <br><br>

      <div class="row">
        <div class="col-md-6">
            <h2 style="text-align: left;">Adresa za ra훾un</h2>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
                <input type="checkbox" id="checkbox1" onchange="myFunction()" value="nesto"checked>Koristi adresu za dostavu
            </div>
          </div>
      </div>

      <table class="table_total2"> 
        <tr>
          <td style="padding:2px; margin:1px;"><%= button_to "ODUSTANI", home_path, :class => "btn btn-default", :method => :get  %></td>
          <td style="padding:2px; margin:1px;"><%= f.submit "NASTAVI", class: "btn btn-primary"%></td>
        </tr>
      </table>

      <% end %>

      <br>

      <% a = params[:name] %>

      <script>
      function myFunction() {
          document.getElementById("addr").innerHTML = "Ime i Prezime";
      }
      </script>

    

      <%= form_for(@address1) do |f2| %>

        <%= f2.label :Ime_i_Prezime %>
        <%= f2.text_field :name, class: "form-control" %>
        <br>
        <%= f2.label :Adresa %>
        <%= f2.text_field :address_name, class: 'form-control' %>
        <br>
        <%= f2.label :Grad %>
        <%= f2.text_field :city, class: 'form-control' %>
        <br>

        <%= f2.label :Regija %>
        <%= f2.text_field :region, class: 'form-control' %>
        <br>

        <%= f2.label :ZIP %>
        <%= f2.text_field :zip, class: 'form-control' %>
        <br>

        <%= f2.label :Dr탑ava %><br>
        <%= f2.select :state, class: 'form-control' %>
        <br>
        <br>

        <%= f2.label :Broj_telefona %>
        <%= f2.text_field :phone, class: 'form-control' %>
      <% end %>


      <%10.times do %>
        <br>
      <% end %>
  </div> 


  <div class="col-md-6">
    <table border = "1" class="table_total">
    <tr>
      <td style="padding:20px; margin:10px;">
        <p style="text-align: left;"> <b>Narud탑ba</b> <%= $number_items %> proizvoda 
        <% 17.times do %>
          &nbsp;
        <% end %>
        <br></p>
        <p style="text-align: right;"> Cijena <br> <b><%= $s %>KM </b><br><br>
        Dostava <br> <b><%= $sum_delivery %>KM </b><br>
        <hr>
        <p style="text-align: right;">
        Ukupno <b><%= $s+$sum_delivery %></b></p>
      </td>
    </tr>
  </table>
  </div>

</div>


