<div class="row">
  <br>
  <br>
  	<%= form_for(@category) do |f| %>

  	  <% unless flash[:same_category].blank? %>
          <%= flash[:same_category] %>
      <% end %>
      

        <div class="field">
          <%= f.label :Kategorija %><i> (Bosanski)</i><br>
          <%= f.text_field :name, class: "form-control", id: "id_category_name_bs", style: "width: 300px;"%>
        </div>
        <br>

        <div class="field">
          <p> <b>Kategorija</b> <i>(Engleski)</i><br>
          <input type="text" name="name2" class="form-control" id="id_category_name_en" style="width: 300px;">
        </div>
        <br>
        <br>

      <%= f.submit "Kreiraj kategoriju", class: "btn btn-primary", id: "category_create_button", style: "width: 300px;"%>
    <% end %>
  	

</div>
<br><br><br><br>
<h2 style="text-align: left;">Sve kategorije</h2>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Naziv <i>(Bosanski)</i></th>
      <th>Naziv <i>(Engleski)</i></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <% I18n.locale = :en %>
        <td><%= category.name %></td>
        <% I18n.locale = :bs %>
        <td class="allProducts_table">
          <!-- <= link_to 'Izmjena', edit_category_path(category) %><br> -->
          <%= link_to 'Brisanje', category, method: :delete, data: { confirm: 'Da li ste sigurni?' } %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>