<% $all_products = Product.all %>
<% counter = 0 %>
<% list = [] %>

<% $all_products.each do |x| %>
	<% if x.category_id == @category.id %>
		<% list << x %>
	<% end %>
<% end %>

<table id="all_products">

	<tr><td style="padding:0px; margin:2px;"><%= @category.name.upcase %></td></tr>
	<tr><td style="padding:0px; margin:2px;">&nbsp;</tr>
	
	<% list.each do |x| %>

		<% if counter%4 == 0 || counter == 0 %>
			<tr><td style="padding:20px; margin:2px;">
		<% else %>
			<td style="padding:20px; margin:2px;">
		<% end %> 
				
				<%= link_to product_path(x.id) do %>
					<div id="wrapper" class="image">
							<%= image_tag(x.image, size: "150x150")%> <br>
							
						
					</div>
				<% end %>
				<%= x.name %><br>
				<%= x.price %> KM<br>
				<% counter += 1 %>

		<% if counter%4 == 0 || counter == list.length %>
			</tr>
		<% end %>
	<% end %>

	<% counter = 0 %>

</table>

<script type="text/javascript">
	
	$(".pic").click(function() {
		var el = $(".active").html();
	});

</script>
