<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :naziv %><br>
        <%= f.text_field :name, class: 'form-control'%><br>
      </div>
      <div class="field">
        <%= f.label :slika %><br>
        <%= f.text_field :image, class: 'form-control' %><br>
      </div>
      <div class="field">
        <%= f.label :cijena %><br>
        <%= f.text_field :price, class: 'form-control' %><br>
      </div>
      <div class="field">
        <%= f.label :opis %><br>
        <%= f.text_field :description, class: 'form-control' %><br>
      </div>
      <div class="field">
        <%= f.label :kategorija %><br>
        <%= f.text_field :category_id, class: 'form-control' %><br><br>
      </div>
      <div class="actions">
        <%= f.submit "Dodaj proizvod", class: "btn btn-primary"  %><br>
      </div>
    <% end %>
  </div>
</div>
