<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product, :html => { :multipart => true }) do |f| %>

      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :naziv %><br>
        <%= f.text_field :name, class: 'form-control'%><br>
      </div>
      <div class="field">
        <%= f.label :opis %><br>
        <%= f.text_area :description, class: 'form-control' %><br>
      </div>
      <div class="field">
        <%= f.label :cijena %><br>
        <%= f.text_field :price, class: 'form-control' %><br>
      </div>
      <div class="field">
        <%= f.label :kategorija %><br>
        <%= f.select("category_id", @categories.collect {|r| [ r.name, r.id] }, { :selected => params[:get_category_id] }, class: 'form-control')%><br>
      </div>
      <p>
        <%= f.label :slika %><br />
        <%= f.file_field :image %>
      </p><br><br>

      <div class="actions">
        <%= f.submit "Kreiraj proizvod", class: "btn btn-primary", style: "width: 200px;" %><br>
      </div>
    <% end %>
    <br><br>

    <%= link_to 'Svi proizvodi', allProducts_path %>

  </div>
</div>
