<p id="notice"><%= notice %></p>
<br>
<h2 style="text-align: left;">Svi proizvodi</h2>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr class="admin_table_tr">
        <td class="allProducts_table"><%= image_tag(product.image.url(:thumb)) %></td>
        <td class="allProducts_table">
          Model: <%= product.name %><br>
          Opis: <%= product.description %><br>
          Kategorija: <%= product.category.name %><br>
          <% hp = HelpProduct.where(product_id: product.id).all %>
          Veličine: <% hp.each do |help_prodcut| %>
                      <%= help_prodcut.size %>
                    <% end %>
          <br>
          <% if product.special == "1" %>
            <b>Izdvojen proizvod</b>
          <%end%>
        </td>
        <td class="allProducts_table">
          Cijena: <%= product.get_price %><br>
          <%= link_to 'Prikazivanje', product %><br>
          <%= link_to 'Izmjena', edit_product_path(product) %><br>
          <%= link_to 'Brisanje', product, method: :delete, data: { confirm: 'Da li ste sigurni?' } %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novi proizvod', new_product_path %>