<h2>Izmjena proizvoda</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>

      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :naziv %><br>
        <%= f.text_field :name, class: 'form-control', id: 'edit_product_name_bs' %><br>
      </div>
      <div class="field">
          <p> <b>Naziv</b> <i>(Engleski)</i><br>
          <input type="text" name="name2" class="form-control" id='edit_product_name_en'>
        </div>
        <br>
      <div class="field">
        <%= f.label :opis %><br>
        <%= f.text_area :description, class: 'form-control', id: 'edit_product_description_bs' %><br>
      </div>
      <div class="field">
          <p> <b>Opis</b> <i>(Engleski)</i><br>
            <textarea name="description2" class="form-control" id='edit_product_description_en'></textarea>
        </div>
        <br>
      <div class="field">
        <%= f.label :cijena %><br>
        <%= f.text_field :price, class: 'form-control price', id: 'edit_product_price' %><br>
      </div>
      <div class="field">
        <%= f.label :snizenje %><br>
        <input type="radio" name="sale_radion" value="new_price" class="new_price" id='edit_product_sale_radio1' checked>Unos nove cijene
        <br>
        <input type="radio" name="sale_radion" value="percent" class="percent" id='edit_product_sale_radio2' >Unos procenta
        <br>
        <input type="radio" name="sale_radion" value="no_sale" class="no_sale" id='edit_product_sale_radio3' >Kraj sni탑enja
        <br>
        <%= f.text_field :sale, class: 'form-control sale_field', placeholder: 'Unesite sni탑enu cijenu (KM)', id: 'edit_product_sale_price' %>
        <input type="text" name="sale_percent" class="form-control sale_percent_field" placeholder="Unesite procenat sni탑ene cijene (%)" id='new_product_sale_percent'>
        <label class="new_price_label"></label>
      </div>
      <br>
      <div class="field">
        <%= f.label :kategorija %><br>
        <%= f.select("category_id", @categories.collect {|r| [ r.name, r.id] }, { :selected => params[:get_category_id] }, class: 'form-control', id: 'edit_product_category')%><br><br> 
      </div>
      <p>
        <%= f.label :slika %><br />
        <%= f.file_field :image, id: 'edit_product_image'%>
      </p><br><br>
      
      <div class="actions">
        <%= f.submit "Spasi promjene proizvoda", class: "btn btn-primary", id: 'edit_product_button', style: "width:200px;" %><br>
      </div>
    <% end %>
    <br>
    <%= link_to "Pregledaj varijante proizvoda", help_products_new_path(:product_id => @product.id) %>

    <br><br><br>
	<%= link_to 'Prika탑i proizvod', @product %> |
	<%= link_to 'Svi proizvodi', allProducts_path %>

  </div>
</div>

<script type="text/javascript">
  
  $('.sale_percent_field').hide();

  $('.new_price').click(function() {
    $('.sale_percent_field').hide();
    $('.sale_field').show();
    $('.sale_percent_field').val("");
    $('.new_price_label').hide();
  });

  $('.percent').click(function() {
    $('.sale_field').hide();
    $('.sale_percent_field').show();
    $('.sale_field').val("");
  });

  $('.no_sale').click(function(){
    $('.sale_field').val("");
    $('.sale_percent_field').val("");
    $('.sale_field').hide();
    $('.sale_percent_field').hide();
    $('.new_price_label').hide();
  });

  $('.sale_percent_field').blur(function(){
    $('.new_price_label').show();
    var price = $('.price').val();
    var percent = $('.sale_percent_field').val();
    var new_price = price - (percent/100)*price;
    $('.new_price_label').html("Nova cijena: "+new_price);
  });

  $('.sale_percent_field').focus(function(){
    $('.new_price_label').hide();
  });

</script>

