<% sizes = [] %>

<% list = HelpProduct.all %>

<% list.each do |x| %>
	<% if x.product_id == @product.id %>
		<% sizes << x.size %>
	<% end %>
<% end %>

<% get_quantity('45', @product.id) %> <br>

<br><br>
<% cat = @product.category_id %>
<% cat_name = @product.category.name.upcase %>

<ol class="breadcrumb">
  <li><%= link_to "HOME", home_path, class: "bread2" %></li>
  <li><%= link_to cat_name, category_path(@product.category_id), class: "bread2" %></li>
  <li class="active"><%= link_to @product.name.upcase, '#', class: "bread" %></li>
</ol>

<table id="helpTable1" cellpadding="10">
	<tr style="padding:0px; margin:2px;">
	
		<td> <%= image_tag(@product.image, :size => "200x200") %> </td>
		<td style="margin-top: 200cm;"> 
			<b><%= @product.name %></b>
			<br>
			<br>
			<%= @product.description %>
			<br><br>
			<%= form_for Item.new do |f| %>

			<% hp = HelpProduct.where(product_id: @product.id).all %>
			<br>

				<%= f.hidden_field :help_product_id, value: @product.id %>
				<%= f.hidden_field :cart_id, value: $cart_id %>

				<table>
					<tr>
						<td class="table_quan_size"><%= f.label :veli훾ina %>
						<td class="table_quan_size"><%= f.label :koli훾ina %>
					</tr>
					<tr>
						<td class="table_quan_size"><%= f.select("size", hp.collect {|p| [ p.size] }, { :include_blank => "Sve veli훾ine", :selected => params[:size], :class => "form-control" }) %>
						<td class="table_quan_size"><%= f.text_field :quantity, :class => "quantity_field"%>
				</table>
						

      			<table> 
      				<tr>
      				<td style="padding:2px; margin:1px;"><%= f.submit 'DODAJ U KORPU', :class => "btn btn-default"%>
      				</td>
      				
      				<% $single = @product.price.to_i + 5 %>
      				<td style="padding:2px; margin:1px;">
      					<!-- constant 5KM for delivrey -->
      					<%= button_to "KUPI ODMAH", new_charge_path, :class => "btn btn-primary", :method => :get %></td>
      				</td>
      			</tr>
      			</table>
      			

      			<%= params[:help_product_id] %><br>
      			<%= params[:cart_id] %><br>
      			<%= params[:quantity] %><br>
      			<%= params[:size] %><br>
			
			<% end %>
		</td>
		
	</tr>
</table>


<br><br><br><br>
<h2> Sli훾ni proizvodi </h2>
<br>


<% $all_products = Product.all %>
<% counter = 0 %>
<% list = [] %>

<% $all_products.each do |x| %>
	<% if x.category_id == @product.category_id %>
		<% list << x %>
	<% end %>
<% end %>

<table id="all_products2">
	
	<% list.each do |x| %>

		<% if counter%4 == 0 || counter == 0 %>
			<tr><td>
		<% else %>
			<td>
		<% end %> 
			<div id="wrapper">
				<%= link_to(image_tag(x.image, size: "150x150"), product_path(x.id),  :class => "pic") %> <br>
				<p class="text_on_image">
	    			<%= x.name %> <br>
	    			<b><%= x.price %></b>
	    		</p>
				<% counter += 1 %>
			</div>
			</td>	
		<% if counter%4 == 0 || counter == list.length %>
			</tr>
		<% end %>
	<% end %>

	<% counter = 0 %>

</table>


<script>
	/*
	Add to cart fly effect with jQuery. - May 05, 2013
	(c) 2013 @ElmahdiMahmoud - fikra-masri.by
	license: http://www.opensource.org/licenses/mit-license.php
*/   

$('.add-to-cart').on('click', function () {
        var cart = $('.shopping-cart');
        var imgtodrag = $(this).parent('.item').find("img").eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
                .offset({
	                top: imgtodrag.offset().top,
	                left: imgtodrag.offset().left
            })
                .css({
                'opacity': '0.5',
                    'position': 'absolute',
                    'height': '150px',
                    'width': '150px',
                    'z-index': '100'
            })
                .appendTo($('body'))
                .animate({
                'top': cart.offset().top + 10,
                    'left': cart.offset().left + 10,
                    'width': 75,
                    'height': 75
            }, 1000, 'easeInOutExpo');
            
            setTimeout(function () {
                cart.effect("shake", {
                    times: 2
                }, 200);
            }, 1500);

            imgclone.animate({
                'width': 0,
                    'height': 0
            }, function () {
                $(this).detach()
            });
        }
    });

</script>


