
<%= form_for(@image, :html => { :multipart => true }) do |f| %>

    <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Proizvod - "+@product_parameter.to_s %><br>
    <%= f.hidden_field :product_id, :value => @product_parameter %>
  </div>
  <br>  

  <p>
    <%= f.label :slika %><br />
    <%= f.file_field :avatar, id: 'new_product_image' %>
  </p>
  <br><br>
  
  <div class="actions">
    <% if @product_parameter.nil? %>
      <p> Error </p>
    <% else %>
      <%= f.submit "Dodaj sliku proizvoda", class: "btn btn-primary", id: "add_image_button", style:"width: 200px;"%><br><br>
    <% end %>
  </div>
<% end %>

<form action="/help_products/new" method="get">
  <input type="hidden" class="sh" name="product_param" value="<%= @product_parameter %>">
  <input type="submit" id="add_help_products" class="btn btn-primary" value="Dodaj varijantu proizvoda" style="width: 200px;">
</form>


<h2>Sve slike proizvoda</h2>

<table>
  
    <tr>
      
        <% @product_images.each do |image| %>
          
          <% if !image.nil? %>
          
            <% if @main.id != image.id %>

              <td class="image_product" data-id="<%= image.id %>">
                <span>
                  <%= image.id %><br>
                  <%= image_tag(image.avatar.url(:small)) %><br>
                </span>
                <span style="text-align:center"><%= link_to 'Brisanje', image, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></span>
              </td>

              
            <% else %>
              
              <td style=" border: 1px solid #FFC63B;" class="image_main" data-id="<%= image.id %>">
                <span>
                  <%= image.id %><br>
                  <%= image_tag(image.avatar.url(:small)) %><br>
                </span>
                <span style="text-align:center"><%= link_to 'Brisanje', image, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></span>
              </td>
              
            <% end %>

          <% end %>
        <% end %>
      
    </tr>
</table>

<br>

<input type="hidden" class="im1" name="im1" value="" >
<input type="hidden" class="product_parameter" name="product_old" value="<%= @product_parameter %>" >

<script type="text/javascript">
      
    
      $( ".image_main" ).click(function() {

        var main = $(this).data("id");
        var product = $('.product_parameter').val();

        $.ajax({
            url: '/images/update_main_image',
            data: { 
              product_param: product,
              main: main,
            },
            type: 'GET',
            success: function(result) {   
              if (result.error == true) {
                //alert("sve ok");
                //$(".bil").val(result.address_id);
              }
            }
        });

        $( ".image_main" ).css("border", "1px solid #FFC63B");
        $( ".image_product" ).css("border", "none");
        $('.im1').val($(this).data("id"));

        

      });

      $( ".image_product" ).click(function() {

        var main = $(this).data("id");
        var product = $('.product_parameter').val();


        $.ajax({
              url: '/images/update_main_image',
              data: { 
                product_param: product,
                main: main,
              },
              type: 'GET',
              success: function(result) {   
                if (result.error == true) {
                  //alert("sve ok");
                  //$(".bil").val(result.address_id);
                }
                else
                  alert("greska");
              }
          });                
        $( ".image_product" ).css("border", "none");
        $( ".image_main" ).css("border", "none");
        $(this).css("border", "1px solid #FFC63B");
        $('.im1').val($(this).data("id"));


      });


</script>


