
<%= form_for(@image, :html => { :multipart => true }) do |f| %>

    <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Proizvod - "+@product_parameter.to_s %><br>
    <%= f.hidden_field :product_id, :value => @product_parameter %>
  </div>
  <br>  

  <p>
    <%= f.label :slika %><br />
    <%= f.file_field :avatar, id: 'new_product_image' %>
  </p>
  <br><br>
  
  <div class="actions">
    <% if @product_parameter.nil? %>
      <p> Error </p>
    <% else %>
      <%= f.submit "Dodaj sliku proizvoda", class: "btn btn-primary", id: "add_image_button", style:"width: 200px;"%><br><br>
    <% end %>
  </div>
<% end %>

<form action="/help_products/new" method="get">
  <input type="hidden" class="sh" name="product_param" value="<%= @product_parameter %>">
  <!--<= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> -->
  <input type="submit" id="add_help_products" class="btn btn-primary" value="Dodaj varijantu proizvoda" style="width: 200px;">
</form>



<!-- button_to "HOME", item_path(@cart, sh_address: @shipping_address, bil_address: @billing_address), :class => "btn btn-primary", :method => :delete -->

<h2>Sve slike proizvoda</h2>

<table>
  
    <tr>
      <td>
        <% @product_images.each do |image| %>
          <% if !image.nil? %>
            <%= image_tag(image.avatar.url(:small)) %>
          <% end %>
        <% end %>
      </td>
    </tr>
</table>

<br>


