<br><br>

<%= @a1 %>
<%= @a2 %>


<%= form_tag charges_path(sh:  @shipping , bil: @billing) do %>
  
  <article>
    <label class="amount">
      <% @a = @cart.get_total_with_delivery.to_i %>
      <span>Amount: <%= @a %>KM</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= (@a)*100 %>">
  </script>
<% end %>

