<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title> Web shop </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">

		<div class="container">
    <nav>
          <ul class="nav navbar-nav navbar-left">
          <li><%= link_to(image_tag("logo3.png", size: "90x25"), home_path) %></li>
          <% $all_categories = Category.all %>
          <% 13.times do %>
              <li> &nbsp; </li>
            <% end %>
          <% $all_categories.each do |x| %>
            <li class="nav_link"><%= link_to x.name.upcase, category_path(x.id), class: "nav2" %></li>
            <% 5.times do %>
              <li> &nbsp; </li>
            <% end %>
          <% end %> 

          </ul>


	        <ul class="nav navbar-nav navbar-right">

          <% if logged_in? %>
            <li><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
            <% 8.times do %>
              <li> &nbsp; </li>
            <% end %>
          <% else %>
           	<li><%= link_to "LOGIN", login_path %></li>
            <li><%= link_to "|", '#' %></li>
				    <li><%= link_to "REGISTER", new_user_path %></li>
            <% 8.times do %>
              <li> &nbsp; </li>
            <% end %>
			     <% end %>
            <li  id="shopping-cart"><%= link_to(image_tag("cart.png", size: "20x20"), carts_path) %></li>
            <li class="counter"><%= session[:counter] %></li>
          </ul>
        
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html> 

<script type="text/javascript">
    $('.navbar-left li .nav2').click(function (e) {
      //alert("Klik");
      //$('.navbar-left .nav_link .nav2').removeClass('.nav_link');
      //$(this).parent('.li').addClass('active');
      $(this).addClass('active');
    });

    $('#shopping-cart').on('click', function () {
      //alert("Klik na korpu");
      $('.counter').css('display', 'none');
    });

</script>
