 <!DOCTYPE html>
<html>
  <head>
    <!--<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
    <title> Web shop </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">

		<div class="container">
    <nav>
          <ul class="nav navbar-nav navbar-left">
          <li class="nav_link_image"><%= link_to(image_tag("logo3.png", size: "90x25"), home_path) %></li>
          <% $all_categories = Category.all %>
          
          <% $all_categories.each do |x| %>
            <% active_class = ((@category && x.id == @category.id) || (!@product.nil? && x.id == @product.category_id)) ? "active" : "" %>
            <li class="nav_link"><%= link_to x.name.upcase, category_path(x.id), :id => "navigation", :class => "#{active_class}" %></li>
          <% end %> 

          </ul>


	        <ul class="nav navbar-nav navbar-right">
            <li class="nav_link language"><%= link_to "BS", change_locale_path(:bs) %></li>
            <li class="nav_link language"><%= link_to "|", '#' %></li>
            <li class="nav_link language"><%= link_to "EN", change_locale_path(:en) %></li>

          <% if logged_in? %>
            <li class="nav_link"><%= link_to "LOGOUT", logout_path, method: "delete", class: "nav_link"%></li>

          <% else %>
           	<li class="nav_link"><%= link_to "LOGIN", login_path, class: "nav_link"%></li>
            <li><%= link_to "|", '#' %></li>
				    <li class="nav_link"><%= link_to "REGISTER", new_user_path, class: "nav_link"%></li>
			     <% end %>
            <li  id="shopping-cart" class="nav_link_cart"><%= link_to(image_tag("cart.png", size: "20x20"), carts_path, class: "nav_link") %></li>
            <li class="counter"><%= session[:counter] %></li>
          </ul>
        </nav>
      </div>
    </header>

    <% if !@current_user.nil? && @current_user.role.name == "Administrator" %>
    <header class="navbar navbar-inverse"> 
      <br>
      <div class="container">
      <nav>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
     
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="padding-left: 125px;">
                <li class="nav_link"><%= link_to "PROIZVODI", allProducts_path %></li>
                <li class="nav_link"><%= link_to "KORISNICI", allUsers_path %></li>
                <li class="nav_link"><%= link_to "NARUDŽBE", orders_path %></li>   
                <li class="nav_link"><%= link_to "KATEGORIJE", new_category_path %></li>
            </ul>
        </div>
        </nav>
      </header>

    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="row footer_line"><hr></div>
    <div class="row">
      <div class="col-md-6 footer_left">
        <span> Copyright&copy;abhShoes.All rights reserved. </span>
      </div>
      <div class="col-md-6 footer_right"> 
          <% $all_categories.each do |x| %>
            <span class="footer_category"><%= link_to x.name, category_path(x.id), class: "footer_link"%>
              <% 3.times do |y| %>
              &nbsp;
            <% end %>
          <% end %>   
          <span class="footer_category"><%= link_to 'Dodaci', '#', class: "footer_link"%>
      </div>

  </body>
</html> 

<script type="text/javascript">
   $('.navbar-left li .nav2').click(function (e) {
      //alert("Klik");
      //$('.navbar-left .nav_link .nav2').removeClass('.nav_link');
      //$(this).parent('.li').addClass('active');
      $(this).addClass('active');
    });

    /*$('.bs').click(function (){
      var el = $('.bs').html();
      alert(el);
        $.ajax({
            url: '/languages/my_language',
            data: { 
              language: el,
            },
            type: 'GET',
            success: function(result) {
              if (result.error) {
              }
            }
        });
      
    });

    $('.en').click(function (){
      var el = $('.en').html();
      alert(el);
        $.ajax({
            url: '/languages/my_language',
            data: { 
              language: el,
            },
            type: 'GET',
            success: function(result) {
              if (result.error) {
              }
            }
        });
    });*/


</script>
